.header-grad {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	@include rems(height, 20);
	@include horizontal-grad($primary, $secondary);
	.landing-flood {
		width: 100%;
		height: 100%;
	}
}
.sitemap-overlay {
	position: relative;
	z-index: 10;
	padding: 5%;
	padding-bottom: calc(5% + 50px);
	padding-bottom: calc(5% + 5rem);
}
article {
	&.sitemap-article {
		text-align: center;
		border: 1px solid #ccc;
		@include rems(padding, 8, 8, 13);
		background: #fff;
		@include border-radius(5px);
		position: relative;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		@media #{$phone} {
			@include rems(padding, 2, 2, 5);
			//text-align: left;
		}
	}
	.footer-w {
		@include rems(width, 10);
		@include rems(height, 10);
		background: url('images/favicons/apple-touch-icon-120x120.png') center center no-repeat #fff;
		background-size: 50% auto;
		border: 4px solid #fff;
		@include border-radius(50%);
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%,-50%);
		@media #{$phone} {
			@include rems(width, 6);
			@include rems(height, 6);
		}
		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			content: '';
			@include border-radius(50%);
			-webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
					box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
		}	
	}
	.primary {
		background: $primary;
		color: #fff;
		display: inline-block;
		@include rems(padding, 0.5, 2);
		font-weight: 400;
		@media #{$phone} {
			display: block;
		}
	}
}
ul {
	@include clearfix;
	&.parents {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		@include rems(padding-top, 8);
		@media #{$phone} {
			flex-wrap: wrap;
			@include rems(padding-top, 2);
		}
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			background: #ccc;
		}
		&:before {
			@include rems(height, 9.9);
			width: 1px;
			left: 50%;
			top: 0;
			@media #{$phone} {
				//@include rems(left, 1);
				height: 100%;
			}
		}
		&:after {
			left: 0;
			right: 0;
			@include rems(top, 9.8);
			height: 1px;
		}
		& > li {
			@include rems(margin, 0, 1);
			position: relative;
			z-index: 10;
			@media #{$phone} {
				@include rems(margin, 0, 0, 2);
				width: 100%;
			}	
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin: 0;
			}
			& > span {
				display: block;
				color: #fff;
				@include rems(padding, 0.5, 2);
				@include box;
				border: 1px solid #fff;
				background: $primary;
				font-weight: 400;
				i {
					@include rems(margin-left, 1);
				}
				&.notes {
					cursor: pointer;
				}
			}
			& ul {
				@include rems(margin, 0, 1);
				@include rems(padding, 2, 0, 0);
				display: block;
				text-align: left;
				@include clearfix;
				position: relative;
				@media #{$phone} {
					width: 90%;
					margin: 0 auto;
					@include rems(padding, 1, 0, 0);
					text-align: center;
				}
				&:before, &:after {
					content: '';
					display: block;
					position: absolute;
					background: #ccc;
					@media #{$phone} {
						display: none;
					}
				}
				&:before {
					width: 1px;
					left: 0;
					top: 0;
					//@include rems(bottom, 1.8);
					bottom: 0;
				}
				li {
					display: block;
					@include rems(padding, 0, 0, 2, 2);
					position: relative;
					overflow: hidden;
					@media #{$phone} {
						width: 100%;
						padding: 0;
						@include rems(margin, 0, 0, 1);
					}
					span {
						background: #ededed;
						color: #707070;
						@include rems(padding, 0.5, 2);
						display: inline-block;
						position: relative;
						z-index: 20;
						&:after {
							content: '';
							display: block;
							position: absolute;
							background: #fff;
							height: 1px;
							left: 100%;
							right: -1000px;
							z-index: -1;
							@include rems(top, 1.8);
						}
					}
					&:before, &:after {
						content: '';
						display: block;
						position: absolute;
						background: #ccc;
						@media #{$phone} {
							display: none;
						}
					}
					&:before {
						width: 1px;
						left: 0;
						top: 0;
						bottom: 0;
					}
					&:after {
						height: 1px;
						left: 0;
						right: 0;
						@include rems(top, 1.8);
					}
					&:last-child {
						padding-bottom: 0;
						& > span {
							&:before {
								content: '';
								display: block;
								position: absolute;
								background: #fff;
								width: 1px;
								@include rems(top, 1.8);
								bottom: 0;
								@include rems(left, -2);
							}
						}
						&:before {
							@include rems(bottom, 1.8);
						}
						@media #{$phone} {
							margin: 0;
						}
					}
				}
				li {
					&:last-child {
						ul {
							&:after {
								background: #fff;
								width: 1px;
								@include rems(top, -1.6);
								bottom: 0;
								@include rems(left, -3);
							}
						}
					}
				}
			}
		}
	}
}
.notes {
	@include rems(max-width, 80);
	margin: 0 auto;
	@include rems(margin-top, 8);
	@include rems(padding, 8, 0);
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: left;
	@media #{$phone} {
		@include rems(margin-top, 4);
		@include rems(padding, 4, 0);
	}
	.notes-trigger {
		display: block;
		color: $primary;
		border-bottom: 1px solid $secondary;
		font-weight: 400;
		@include angle-down;
		text-decoration: none;
		@include rems(margin-top, 2);
		&:first-child {
			margin-top: 0;
		}
		&:before {
			float: right;
			transition: 0.4s all ease;
		}
		&.active {
			&:before {
				transform: rotate(180deg);
			}
		}
	}
	.notes-content {
		@include rems(padding, 2, 0, 0);
		display: none;
	}
}
